/*=========================================================================================================*/
/*                                                                                                         */ 
/*                               Herbert Ishimura Sousa - 27/07/2022                                       */ 
/*                                                                                                         */ 
/*=========================================================================================================*/

/************************************************** ROOT ***************************************************/

*{width: 100%;;padding: 0; margin: 0; box-sizing: border-box;}

:root {

  font-size: 100%;

  --skeleton-color: #eee;
  --primary-base: #ff6700;
  --primary-variant: #fff;
  --secondary-base: #212121;
  --secondary-variant: #b0b0b0;
  --background-base: #f5f5f5;
  --background-base-variant: #f9f9fa;
  --background-base-variant-2: #f9f9fa;
  --background-base-variant-3: #f9f9fa;
  --background-base-variant-4: #f5f5f5;
  --background-base-variant-5: #f9f9fa;
  --background-base-variant-6: #f7f7f7;
  --background-light: #fff;
  --background-light-a0: #fff0;
  --background-light-variant: #fff;
  --background-light-variant-2: #f6f6f7;
  --background-dark: #ddd;
  --background-black: #191919;
  --background-card-bg: #fff;
  --background-card-surface: #fafafa;
  --background-light-sku: #fff;
  --background-light-sku-dark: #fff;
  --background-light-sku-gray: #f2f2f2;
  --background-sku-img-normal: #0000;
  --background-sku-img-highlight: #0000;
  --background-quantity-active: #e0e0e0;
  --background-tag-badge: #fe471c;
  --background-contrast: #f5f5f5;
  --background-contrast-light: #fff;
  --background-contrast-variant: #424242;
  --background-loading-button: #ccc;
  --background-dialog-content: #fff;
  --background-dialog-content-2: #fafafa;
  --background-dialog-button: #ccc;
  --background-dialog-button-disabled: #ddd;
  --background-dialog-button-hover: #757575;
  --background-primary: #ff6700;
  --background-primary-a10: #ff67001a;
  --background-primary-a10-variant: #ff6700;
  --background-primary-a20: #ff670033;
  --background-primary-a20-variant: #ff6700;
  --background-primary-variant: #ff6700;
  --background-primary-variant-2: #ff6700;
  --background-primary-variant-3: #ff6700;
  --background-primary-variant-4: #ff6700;
  --background-primary-hover: #f95b06;
  --background-secondary: #212121;
  --background-secondary-a80: #212121cc;
  --background-secondary-variant: #424242;
  --background-secondary-variant-2: #212121;
  --background-secondary-variant-3: #b0b0b0;
  --background-secondary-variant-4: #424242;
  --background-disable: #ddd;
  --background-loader: #ff6700;
  --background-toast: #222c;
  --background-toast-1: #222c;
  --background-mask: #f8f8f8;
  --background-mask-1: #f8f8f8;
  --background-mask-2: #f8f8f8;
  --background-mask-a65: #f8f8f8a6;
  --background-step: #b0b0b0;
  --background-step-done: #6eb655;
  --background-spot: #ff6700;
  --background-spot-variant: #fff;
  --background-float: linear-gradient(135deg, #ffa86d, #ff6700);
  --background-gradient: linear-gradient(135deg, #789ef5, #466cd2);
  --background-gradient-01: linear-gradient(135deg, #009688, #466cd2);
  --background-float-variant: linear-gradient(135deg, #ffa86d1a, #ff67001a);
  --background-badge: linear-gradient(140deg, #ff9b7e, #ff5169);
  --background-badge-variant: #ffc94d;
  --background-quiz-success: linear-gradient(141deg, #ff9b7e0d, #ff51690d);
  --background-quiz-failure: linear-gradient(141deg, #44a0240d, #6eb6550d);
  --background-scrollbar-track: #eee;
  --background-scrollbar-thumb: #ff670080;
  --background-product: #f8f8f8;
  --brand-grey-40: #d0d0d0;
  --brand-grey-20: #e7e7e7;
  --brand-grey-10: #f3f3f3;
  --shadow-black-a2: #00000005;
  --shadow-black-a5: #0000000d;
  --shadow-black-a7: #00000012;
  --shadow-black-a8: #00000014;
  --shadow-black-a10: #0000001a;
  --shadow-black-a15: #00000026;
  --shadow-black-a20: #0003;
  --shadow-black-a30: #0000004d;
  --shadow-black-a40: #0006;
  --shadow-black-a50: #00000080;
  --shadow-black-a60: #0009;
  --shadow-gray-a20: #78787833;
  --shadow-gray-dark-a20: #16171833;
  --shadow-white-a10: #ffffe11a;
  --shadow-white-a20: #ffffe133;
  --shadow-white-a30: #ffffe14d;
  --shadow-white-a50: #ffffe180;
  --shadow-white-a80: #ffffe1cc;
  --shadow-white-a90: #ffffe1e6;
  --shadow-contrast-a20: #ffffe133;
  --shadow-contrast-a30: #ffffe14d;
  --shadow-contrast-a50: #ffffe180;
  --shadow-contrast-a90: #ffffe1e6;
  --shadow-primary-a10: #ff67001a;
  --shadow-primary-a20: #ff670033;
  --shadow-primary-a30: #ff67004d;
  --shadow-primary-a40: #ff670066;
  --shadow-primary-a50: #ff670080;
  --border-base: #ddd;
  --border-base-variant: #b0b0b0;
  --border-base-variant-2: #ddd;
  --border-base-variant-3: #ddd;
  --border-base-variant-4: #898989;
  --border-light: #eee;
  --border-light-variant: #eee;
  --border-light-variant-2: #eee;
  --border-light-variant-3: #e0e0e0;
  --border-light-variant-4: #e0e0e0;
  --border-light-variant-5: #e0e0e0;
  --border-light-variant-6: #f8f8f8;
  --border-dark: #424242;
  --border-dark-variant: #191919;
  --border-input: #b0b0b0;
  --border-gray: #dbdbdb;
  --border-loading-button: #ccc;
  --border-disabled-button: #ddd;
  --border-primary: #ff6700;
  --border-primary-variant: #ff6700;
  --border-primary-variant-2: #ff6700;
  --text-base: #191919;
  --text-reverse: #fff;
  --text-primary: #ff6900;
  --text-secondary: #898989;
  --title-base: #424242;
  --title-base-variant: #424242;
  --title-base-variant-2: #424242;
  --title-base-variant-3: #424242;
  --title-base-variant-4: #424242;
  --title-base-variant-5: #424242;
  --title-light: #b0b0b0;
  --title-light-variant: #c9c9c9;
  --title-light-variant-2: #999;
  --title-light-variant-3: #c6c6c6;
  --title-light-variant-4: #b4b4b4;
  --title-light-variant-5: #ddd;
  --title-light-variant-6: #b0b0b0;
  --title-light-variant-7: #c9c9c9;
  --title-light-variant-8: #c9c9c9;
  --title-light-variant-9: #ddd;
  --title-dark: #000;
  --title-dark-variant: #222;
  --title-dark-variant-2: #b4b4b4;
  --title-dark-variant-3: #2e2323;
  --title-dark-variant-4: #2e2323;
  --title-dark-variant-5: #2e2323;
  --title-dark-variant-6: #000;
  --title-primary: #ff6700;
  --title-primary-variant: #fff;
  --title-primary-variant-2: #fff;
  --title-primary-variant-3: #ff6700;
  --title-primary-variant-4: #fff;
  --title-primary-variant-5: #fff;
  --title-primary-variant-6: #fff;
  --title-secondary: #212121;
  --title-modal: #191919;
  --content-base: #666;
  --content-base-variant: #666;
  --content-light: #757575;
  --content-light-variant: #757575;
  --content-light-variant-2: #757575;
  --content-light-variant-3: #999;
  --content-light-variant-4: #999;
  --content-light-variant-5: #ccc;
  --content-dark: #424242;
  --content-dark-variant: #333;
  --content-dark-variant-2: #424242;
  --content-dark-variant-3: #424242;
  --content-dark-variant-4: #333333;
  --content-dark-variant-5: #333;
  --content-contrast: #999;
  --content-contrast-variant: #616161;
  --content-active: #ff6900;
  --content-primary: #ff6700;
  --content-primary-variant: #ff6700;
  --content-primary-variant-2: #ff6700;
  --content-primary-variant-3: #ff6700;

}

@font-face {font-family: CamphorProForXiaoMi-Regular; src: url(../css/fonts/CamphorProForXiaoMi-Regular.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Bold; font-weight: 700; src: url(../css/fonts/CamphorProForXiaoMi-Bold.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Thin; src: url(./fonts/CamphorProForXiaoMi-Thin.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Heavy; font-weight: 900; src: url(./fonts/CamphorProForXiaoMi-Heavy.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Medium; src: url(./fonts/CamphorProForXiaoMi-Medium.woff) format("woff")}

.f-heavy {font-family: CamphorProForXiaoMi-Heavy, sans-serif; font-weight: 900}
.f-regular {font-family: CamphorProForXiaoMi-Regular, sans-serif}
.f-light {font-family: CamphorProForXiaoMi-Light, sans-serif}
.f-bold {font-family: CamphorProForXiaoMi-Bold, sans-serif; font-weight: 700}
.f-medium {font-family: CamphorProForXiaoMi-Medium, sans-serif}
.f-thin {font-family: CamphorProForXiaoMi-Thin, sans-serif}
 
.p_Xiaomi{font-size: 1em; color: var(--background-base);}
.Text_Xiaomi{font-size: 3rem; font-weight: bold; color: var(--background-black);}

/******************************************* LAYOUT RESPONSIVEL *******************************************/

@media screen and (min-device-width: 1024px){

  .Text_Xiaomi{font-size: 3rem; font-weight: bold; color: var(--background-black); padding: 1rem; text-align: center;}
  .Text_Xiaomi_02{font-size: 1.8rem; font-weight: bold; color: var(--background-black); padding: 1rem; text-align: center;}
  .Text_box_01{font-size: 1.8rem; font-weight: bold; color: var(--background-black); padding: 1rem; text-align: left}
  .Text_Xiaomi_Notas{font-size: 1rem; font-weight: bold; color: var(--content-base); padding: 1rem; text-align: left;}
  .Text_Xiaomi_02_white{font-size: 1.8rem; font-weight: bold; color: var(--background-base); padding: 1rem; text-align: center;}
  .Text_Xiaomi_02_white01{font-size: 1.8rem; font-weight: bold; color: var(--background-base); text-align: center;}
  .Text_Xiaomi_03_white{font-size: 1.8rem; font-weight: bold; color: var(--background-base); padding: 1rem; text-align: center;}

  .p_Xiaomi{font-size: 1.3rem; color: var(--background-black); text-align: center; padding: 1rem;}
  .p_Notas{font-size: 1rem; color: var(--content-base); text-align: left; padding: 1rem;}
  .p_Xiaomi_white{font-size: 1rem; color: var(--background-base); text-align: center; padding: 1rem;}
  .p_Xiaomi_white01{font-size: 1rem; color: var(--background-base); text-align: center;}
  .p_box_01{font-size: 1rem; color: var(--background-black); text-align: left; padding: 1rem;}
  .p_Xiaomi_white02{font-size: 1rem; color: var(--background-base); text-align: center; padding: 1rem;margin-top: -2rem;}
  .p_Xiaomi_white03{font-size: 0.7rem; color: var(--background-base); text-align: center; padding: 1rem;}
   
  .alinhamento03{padding-top: 17rem;}
  .alinhamento06{padding-top: 1rem;}
  .alinhamento10{padding-top: 10rem;}

  .line_img{ width: 50rem; overflow: hidden; margin-left: -16rem;}
  .line_img_two{ width: 59rem; overflow: hidden; margin-left: -33rem;}
  .line_img_limg{width: 37rem; overflow: hidden; margin-left: -6rem; margin-top: 3rem;}
  .line_img{width: 37rem; overflow: hidden; margin-left: -6rem;}
  .border{margin-top: -1rem; border-bottom: solid 0.15rem #73d5d1; width: 3rem; margin-left: 3.5rem;}

  .text_margin{margin-left: 1rem;}
  .text_margin01{margin-top: -2rem;}

  .img_content{margin-top: 2rem; padding: 1rem;}
  .img_tela{padding: 1rem;}

  .topo-margin{padding-top: 11rem;}
  .topo{margin-top: 11rem;}

  .base_silver{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  }
 
  .flex-xiaomi{display: flex;}

  .grid-xiaomi{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  margin: auto;
  }

  .grid-xiaomi-01{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.6rem;
  row-gap: 0.5rem;
  justify-content: center;
  }

  .grid-xiaomi-02{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  }

 .grid-xiaomi-03{
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  
 .grind-video{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  }

 .grid-xiaomi-base{
 display: flex;
 flex-wrap: nowrap;
 align-items: center;
 padding: 1rem;
 }

 .box-content{
  width: 11rem;}

  .box-xiaomi{
  height: 5rem;
  background-image: var(--background-gradient-01);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
  }

  .fundo01{
  height: 36rem;
  background: url(../media/01.jpg) no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  }

  .fundo02{padding: 1rem;}
  
  .fundo03{
  height: 46rem;
  background-image: var(--background-gradient-01);
  background-size:cover;
  display: flex;
  flex-direction: column;
  }

  .fundo04{
  height: 78rem;
  background: url(../media/img05.jpg) no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  }

  .fundo-silver{
  background-color: var(--background-dialog-button);
  width: 20rem;
  height: 26rem;
  z-index: 1;
  position: absolute;
  }

  .fundo-black{
  background-color: var(--content-dark-variant-4);
  width: 86rem;
  height: 16rem;
  z-index: 1;
  position: absolute;
  }

  .fundo-black01{
  background-color: var(--content-dark-variant-4);
  width: 20rem;
  height: 16rem;
  z-index: 1;
  position: absolute;
  margin-top: 33rem;
  }

  .fundo05{
  height: 10rem;
  background-image: var(--background-gradient-01);
  background-size:cover;
  display: flex;
  flex-direction: column;
  }

  .fundo06{
  height: 50rem;
  background: var(--background-dialog-button);
  background-size:cover;
  display: flex;
  flex-direction: column;
  }
    
  .fundo07{
  height: 35rem;
  background: url() no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  }

  .fundo08{
  height: 54rem;
  background: var(--background-gradient-01);
  background-size:cover;
  display: flex;
  flex-direction: column;
  }
        
  .fundo09{
  height: 44.4rem;
  background: var(--background-gradient-01) no-repeat;
  background-size:contain;
  display: flex;
  flex-direction: column;
  }
        
  .fundo10{
  height: 33rem;
  background-image: var(--background-gradient-01);
  background-size:cover;
  display: flex;
  flex-direction: column;
  }
    

}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px){
   
    .Text_Xiaomi{font-size: 2rem; font-weight: bold; color: var(--background-black);}
    .p_Xiaomi{font-size: 1.3rem; color: var(--background-black); padding-top: 1rem;}

    .alinhamento01{padding: 11rem; margin: -9rem;}
    .alinhamento02{padding: 1rem;}
    .alinhamento03{padding: 9rem; margin-left: -7rem;}
    
    #text_one{text-align: center;}
    #p_one{text-align: center; padding-bottom: 2rem;}

    #text_two{text-align: center;}
    #p_two{text-align: center;}

    #text_four{text-align: center;}
    #p_four{text-align: center;}

    .fundo01{
    background: url(../media/01.jpg) no-repeat;
    background-size: cover;
    height: 21rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    }
        
    .fundo02{display: flex;}
    
    .fundo03{
    background: url(../media/overview_03.jpg) no-repeat;
    background-size: contain;
    height: 21rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    }

    .fundo04{
    background: url(../media/overview_04.jpg) no-repeat;
    background-size: cover;
    height: 30rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    }
}

@media screen and (max-width: 767px){
     
    .Xiaomi_base{overflow: hidden;}

    .Text_Xiaomi{font-size: 3rem; font-weight: bold; color: var(--background-black); padding: 1rem; text-align: left;}
    .Text_Xiaomi_02{font-size: 1.8rem; font-weight: bold; color: var(--background-black); padding: 1rem; text-align: left;}
    .Text_box_01{font-size: 1.8rem; font-weight: bold; color: var(--background-black); padding: 1rem; text-align: left}
    .Text_Xiaomi_02_white_silver{font-size: 1.8rem; font-weight: bold; color: var(--background-base);text-align: center;}
    .Text_Xiaomi_02_white{font-size: 1.8rem; font-weight: bold; color: var(--background-base); padding: 1rem; text-align: center;}
    .Text_Xiaomi_block{font-size: 1.8rem; font-weight: bold; color: var(--background-base); text-align: center;}
    .Text_Xiaomi_02_white01{font-size: 1.8rem; font-weight: bold; color: var(--background-base); text-align: left;}
    .Text_Xiaomi_03_white{font-size: 1.8rem; font-weight: bold; color: var(--background-base);}
    .Text_Xiaomi_04_white{font-size: 1.8rem; font-weight: bold; color: var(--background-base); position: relative;}

    .Text_Xiaomi_03{margin-left: 1rem;}
    .Text_Xiaomi_Notas{font-size: 1rem; font-weight: bold; color: var(--content-base); padding: 1rem; text-align: center;}

    .p_Xiaomi{font-size: 1.1rem; color: var(--background-black); text-align: left; padding: 1rem;margin-top: -1.1rem;}
    .p_Notas{font-size: 1rem; color: var(--content-base); text-align: left; padding: 1rem;}
    
    .p_box_01{font-size: 1rem; color: var(--background-black); text-align: left; padding: 1rem;}
    .p_Xiaomi_white{font-size: 1rem;  color: var(--background-base); text-align: center; padding: 1rem;}
    .p_Xiaomi-box{font-size: 1rem; color: var(--background-base); text-align: center;}

    .p_Xiaomi_02{margin-left: 1rem;}

    .p_Xiaomi_white01{font-size: 1rem; color: var(--background-base); text-align: left;}
    .p_Xiaomi_white02{font-size: 1rem; color: var(--background-base); text-align: center; padding: 1rem; margin-top: -2rem;}
    .p_Xiaomi_white03{font-size: 0.7rem; color: var(--background-base);}
    .p_Xiaomi-box{font-size: 0.7rem; color: var(--background-base); text-align: center;}
    
    .align-xiaomi{margin-top: -12rem;}
    .alinhamento01{margin-top: 6rem;}
    .alinhamento03{padding-top: 17rem;}
    .alinhamento10{padding-top: 10rem;}

    .img_content{width: 42rem; margin-left: -7rem; margin-top: 2rem; padding: 1rem;}
    .img_tela{padding: 1rem;}
    .img_phone01{width: 51rem; margin-left: -6rem; margin-top: 6rem;}
    .img-hand{width: 42rem; margin-left: -7rem;}
    .img_phone-01{width: 37rem; margin-left: -7rem;}
    .img_phone02{width: 41rem; margin-left: -11rem;}
    .img_phone03{width: 35rem; margin-left: -5rem;}
    .img_boy{width: 57rem; margin-left: -31rem;}
    .topo-margin{margin-top: 8rem;}

    .line_img{ width: 50rem; overflow: hidden; margin-left: -16rem;}
    .line_img_two{ width: 59rem; overflow: hidden; margin-left: -33rem;}
    .line_img_limg{width: 37rem; overflow: hidden; margin-left: -6rem; margin-top: 3rem;}
    .line_img{width: 37rem; overflow: hidden; margin-left: -6rem;}
    .border{margin-top: -1rem; border-bottom: solid 0.15rem #73d5d1; width: 3rem; margin-left: 3.5rem;}

    .text_margin{margin-left: 1rem;}
    .text_margin01{margin-top: -2rem;}

    .box-img{
    width: 2.2rem;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    }

    .base_silver{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    }
   
    .flex-xiaomi{display: flex;}

    .grid-xiaomi{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    margin: auto;
    }

    .grid-xiaomi-01{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.6rem;
    row-gap: 0.5rem;
    justify-content: center;
    }

    .grid-xiaomi-02{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 13rem;
    max-width: 100%;
    margin: 0 auto;
    }

    .grid-xiaomi-03{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    
    .grind-video{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }

    .grid-xiaomi-base{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem;
    }

   .box-content{
    width: 24rem;
    height: 3.3rem;
    background: #ccc;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
  
    .box-xiaomi{
    height: 5rem;
    background-image: var(--background-gradient-01);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    }

    .fundo01{
    height: 44rem;
    background: url(../media/R10-5G_01.jpg) no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    }

    .fundo02{padding: 1rem;}
    
    .fundo03{
    height: 46rem;
    background-image: var(--background-gradient-01);
    background-size:cover;
    display: flex;
    flex-direction: column;
    }

    .fundo04{
    height: 54rem;
    background: url(../media/R10-5G_04.jpg) no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    }

    .fundo-silver{
    background-color: var(--background-dialog-button);
    width: 20rem;
    height: 26rem;
    z-index: 1;
    position: absolute;
    }

    .fundo-black{
    background-color: var(--content-dark-variant-4);
    width: 20rem;
    height: 16rem;
    z-index: 1;
    position: absolute;
    }

    .fundo-black01{
    background-color: var(--content-dark-variant-4);
    width: 20rem;
    height: 16rem;
    z-index: 1;
    position: absolute;
    margin-top: 33rem;
    }

    .fundo05{
    height: 13rem;
    background-image: var(--background-gradient-01);
    }

    .fundo06{
    background: var(--background-dialog-button);
    background-size:cover;
    display: flex;
    flex-direction: column;
    }
      
    .fundo07{
    height: 35rem;
    background: url() no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    }

    .fundo08{
    height: 35rem;
    background: var(--background-gradient-01);
    background-size:cover;
    display: flex;
    flex-direction: column;
    }
          
    .fundo09{
    height: 44.4rem;
    background: var(--background-gradient-01) no-repeat;
    background-size:contain;
    display: flex;
    flex-direction: column;
    }
          
    .fundo10{
    height: 23rem;
    background-image: var(--background-gradient-01);
    background-size: cover;
    display: flex;
    flex-direction: column;
    }

}